
<h1 class="mb-4"> Inventory list</h1>
<h3>Group:  <a href title="Rename Group">{{title}}</a></h3>
<hr/>
<button class="btn btn-primary btn-sm mb-3 mr-2" style="float:left;" [routerLink]="['/invAdd']"><i class="fas fa-edit"></i>Add Item </button>
<button class="btn btn-danger btn-sm mb-3 " style="float:left;" [routerLink]="['/invAdd']"><i class="fas fa-edit"></i>Delete Group </button>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th></th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invGroup?.invItems; let i of index">
        <td>{{i}}.</td>
        <td>{{ item.name }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.category }}</td>
      </tr>
    </tbody>
    </table>