<h2> Edit Inventory Item </h2>
<hr/>
<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>

<div class="row">
    <div class="col-md-5">
        <form [formGroup]="editForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="nameValidation">Name</label>
                <input type="text" class="form-control " id="nameValidation" placeholder="Item name" required
                    formControlName="inv_name" [ngClass]="{'is-invalid': f.inv_name.errors && ( (f.inv_name.touched || f.inv_name.dirty) || submitted )      }">
                    <div *ngIf="f.inv_name.errors && ( (f.inv_name.touched || f.inv_name.dirty) || submitted )" class="invalid-feedback mb-1">
                        <div *ngIf="f.inv_name.errors?.required">Please provide a valid Item name.</div>
                        <div *ngIf="f.inv_name.errors?.minlength">Group name must be greater than 2 character.</div>
                    </div>
            </div>

            <div class="form-group ">
                <div class="row">
                    <div class="col-sm-2 col-lg-2">
                        <label for="quantityValidation"> Quantity:</label><br />
                        <input type="text" id="quantityValidation" formControlName="inv_qty" class="form-control"
                            [ngClass]="{'is-invalid':   f.inv_qty.errors && ( (f.inv_qty.touched || f.inv_qty.dirty) || submitted ) }"  >
                            <div *ngIf="f.inv_qty.errors && ( (f.inv_qty.touched || f.inv_qty.dirty) || submitted )" class="invalid-feedback mb-1">
                                <div *ngIf="f.inv_qty.errors?.required">Please provide a valid Item name.</div>
                                <div *ngIf="f.inv_qty.errors?.mustBeNumber">Only numbers are accepted</div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="CategoryValidation">Category: </label>
                <input id="CategoryValidation" type="text" formControlName="inv_category" class="form-control" />
            </div>

            <div class="form-group">
                <label for="groupValidation">Group: </label>
                <select formControlName="inv_groupId" class="form-control"  [(ngModel)]="groupSelected">
                    <option disabled>Select group</option>
                    <option *ngFor="let group of groupList" [value]="group.id">{{group.groupName}}</option>
                </select>
                               
            </div>

            <div class="form-group">
                <label for="refValidation">References: </label>
                <div *ngFor="let ref of r.controls; let i = index" class="mb-2">
                    <div [formGroup]="ref" class="form-row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" (click)="toggleLink(i)"> 
                                    <i class="fas " title="Remove Html Link"
                                        [ngClass]="{ 'fa-unlink': !ref.value.inv_link_html , 'fa-link': ref.value.inv_link_html  }"> </i>
                                 </div>
                            </div>
                            <input type="text" formControlName="inv_ref_name" class="form-control" />                            
                        </div>
                    </div>
                </div><br/>
                <button class="btn btn-success btn-xs" (click)="addRef($event)">Add</button>
            </div>

            <div class="form-group">
                <label for="detailsValidation">Details: </label>
                <textarea id="detailsValidation" formControlName="inv_details" class="form-control" cols="70" rows="8"> </textarea>               
            </div>

            <div class="form-group">
                <label for="FileUploadValidation">Thumbnail: </label>
                <input type="file" id="FileUploadValidation"  class="form-control mb-2" (change)="fileProgress($event)"/>
                <div class="image-preview mb-3" *ngIf="previewUrl">
                    <img [src]="previewUrl" height="100" width="100" />
                  </div>               
            </div>

            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
        </form>
    </div>
</div>