<li class="nav-item"> 
  <a class="nav-link collapsed" href="#" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">    
    <i class="fas fa-fw fa-wrench"></i>
    
    <span>Inventory <i class="fas  mt-2" style="float:right;font-size: 12px;"  [ngClass]="{ 'fa-chevron-right': isCollapsed, 'fa-chevron-down': !isCollapsed }" ></i></span>  
  </a>

  <div id="collapseExample" [ngbCollapse]="isCollapsed">

    <div class="bg-white py-2 collapse-inner rounded">

      <button  *ngIf="invSrv.groupList().length"  class="btn btn-link collapse-item" [routerLink]="['/inv','all']"> <i class="fas fa-boxes"></i> Load all items</button>
      <input *ngIf="invSrv.groupList().length > 0 " type="text" class="form-control collapse-item" placeholder="Search" style="width: 150px"/>
      <div *ngIf="invSrv.groupList().length; else emptyGroupList">
      <a *ngFor="let grp of invSrv.groupList()" class="collapse-item" href [routerLink]="['/inv',grp.id]">
        <i class="fas fa-pallet"></i>
        {{grp.groupName}}
      </a>
    </div>
    <ng-template #emptyGroupList> <div class="collapse-item" ><i class="fas fa-box-tissue mr-2"></i>No groups</div></ng-template>

      <button class="btn btn-link collapse-item" (click)="openFormModal()"> <i class="fas fa-plus-circle"></i> Add new group</button>


    </div>
  </div>
</li>



