<h3>Change password</h3>

<div class="row">
    <div class="col-md-3">
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <div *ngIf="message" class="alert alert-success mt-3 mb-0">{{message}}</div>
        <form [formGroup]="changePassworForm" (submit)="changePassword()">
            <div class="form-group">
                New password:<br />
                <input type="password" formControlName="password" class="form-control" placeholder="New password" appFocusSelect
                    [ngClass]="{ 'is-invalid': submitted && frm.password.errors }" autofocus />
                    <div *ngIf="submitted && frm.password.errors" class="alert alert-danger">
                        <div *ngIf="frm.password.errors.required">Password is required</div>
                        <div *ngIf="frm.password.errors.minlength">Password must be at least 5 characters</div>
                    </div>
            </div>
            <!-- Questiom mark after errors verify if there are any errors before checking if required. Errors won't always exist, ? is a safe operator-->
            <div class="form-group">
                Confirm password:
                <input type="password" formControlName="matchedPassword" class="form-control" placeholder="Confirm Password"
                    [ngClass]="{ 'is-invalid': submitted && frm.matchedPassword.errors }" />
                    <div *ngIf="frm.matchedPassword.errors && (frm.matchedPassword.touched || frm.matchedPassword.dirty )"  class="alert alert-danger">
                        <div *ngIf="frm.matchedPassword.errors?.required">Password is required</div>
                        <div *ngIf="frm.matchedPassword.errors?.minlength">Password must be at least 5 characters</div>
                        <div *ngIf="frm.matchedPassword.errors?.mustMatcha">Password must match</div>
                    </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Change password
            </button>

        </form>
    </div>
</div>