<!-- Sidebar -->
<ul class="navbar-nav  sidebar  accordion  bg-gradient-primary sidebar-dark" [ngClass]="{'toggled': !extendSideMenu}"
  id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/']">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-home"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Home</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <ng-template [ngIf]="userLogged">
    <!-- <span *ngIf="userLogged"> -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link ">
        <i class="fas fa-fw fa-cog"></i>
        <span>Something </span>
      </a>

    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- inventory items-->
    <app-inv-nav>  </app-inv-nav>
    <!-- Heading -->
    <div *ngIf="isAdmin()">
      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        User Management
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="#" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">    
          <i class="fas fa-fw fa-folder"></i>
          
          <span>Manage users <i class="fas  mt-2" style="float:right;font-size: 12px;"  [ngClass]="{ 'fa-chevron-right': isCollapsed, 'fa-chevron-down': !isCollapsed }" ></i></span>  
        </a>
      
        <div id="collapseExample" [ngbCollapse]="isCollapsed">      
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href [routerLink]="['/users',0]">List Users</a>
            <a class="collapse-item" href [routerLink]="['/users',1]">Add user</a>
          </div>
        </div>
      </li>
    </div>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button (click)="toggleSideMenu()" class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ng-template>
</ul>
<!-- End of Sidebar -->